@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma/sass/utilities/functions";

$black: #1E1B18;
$black-invert: #fff;

$red: #F54D42;
$red-invert: #fff;

$pink: #ff9068;
$pink-invert: #fff;

$hover-shadow: 5px 12px 40px #c3c3c3;
$new-shadow: 3px 3px 7px #c3c3c3;
$weight-light: 300;
$family-sanserif: "Roboto";

$warning: $red;
$warning-invert: $red-invert;
$danger: $pink;
$danger-invert: $pink-invert;
$link: $black;
$link-invert: $black-invert;
$info: $black;
$info-invert: $black-invert;
$link-hover: $pink;

$body-weight: $weight-light;
$body-size: 19px;

$box-shadow: $new-shadow;
$box-padding: 1.5rem;
$box-link-hover-shadow: $hover-shadow;
$button-hover-color: $pink;

$family-primary: $family-sanserif;

$card-shadow: $new-shadow;
$card-header-shadow: none;

@import "node_modules/bulma/bulma";